:root {
	--column-border: rgba(128,128,128,0.2);
	--column-bcolor: rgba(196,196,196,0.2);
	--color-gutter: rgba(255,255,255,0);
}

sk-grid {
	text-align: center;
	white-space: nowrap;
	bottom: 0;
	box-sizing: border-box;
	color: #000;
	display: flex;
	font: normal normal 12px/1.2 sans-serif;
	left: 0;
	margin: auto;
	pointer-events: none;
	position: fixed;
	right: 0;
	text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
	top: 0;
	z-index: 9999999999;
}

sk-grid[aria-hidden="true"] {
	display: none;
}

sk-grid-column {
	border-style: solid;
	border-width: 0 8px;
	border-color: var(--color-gutter);
	box-sizing: border-box;
	flex: 1 1 1px;
	position: relative;
}

sk-grid-column:first-of-type {
	border-left-width: 0;
}

sk-grid-column:last-of-type {
	border-right-width: 0;
}

sk-grid-column:before {
	background-color: var(--column-bcolor);
	border-style: solid;
	border-width: 0 1px;
	border-color: var(--column-border);
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

sk-grid-column:after {
	border-color: var(--column-border);
	border-style: dotted;
	border-width: 0 1px;
	bottom: 0;
	content: "";
	display: none;
	position: absolute;
	top: 0;
}

sk-grid-info {
	box-sizing: border-box;
	font: inherit;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
}

sk-grid-show {
	bottom: 0;
	position: fixed;
	right: 0;
}

sk-grid-max-width {
	bottom: 0;
	left: 0;
	position: absolute;
	cursor: pointer;
	right: 0;
	pointer-events: all;
}

sk-grid-max-info {
	bottom: 0;
	left: 0;
	position: absolute;
}
