:root {
	--color-column: rgba(255,  0,  0,0.10);
	--color-gutter: rgba(255,  0,  0,0.00);
	--color-margin: rgba(  0,  0,255,0.10);

	--grid-columns: 12;
	--grid-gutter: 16px;
	--grid-margin: 32px;
	--grid-width: 1200px;
}

sk-grid {
	border-left: var(--grid-margin) solid var(--color-margin);
	border-right: var(--grid-margin) solid var(--color-margin);
	bottom: 0;
	box-sizing: border-box;
	color: #000;
	display: flex;
	font: normal normal 12px/1.2 sans-serif;
	left: 0;
	margin: auto;
	max-width: var(--grid-width);
	pointer-events: none;
	position: fixed;
	right: 0;
	text-align: center;
	text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
	top: 0;
	white-space: nowrap;
	z-index: 9999999999;
}

sk-grid[aria-hidden="true"] {
	display: none;
}

sk-grid-column {
	background-color: var(--color-column);
	box-shadow: 0 0 0 calc(var(--grid-gutter) / 2) var(--color-gutter);
	box-sizing: border-box;
	flex: 1 1 1px;
	margin: 0 calc(var(--grid-gutter) / 2);
	position: relative;
}

sk-grid-column:first-of-type {
	box-shadow: calc(var(--grid-gutter) / 2) 0 0 0 var(--color-gutter);
	margin-left: 0;
}
sk-grid-column:last-of-type {
	box-shadow: calc(var(--grid-gutter) / -2) 0 0 0 var(--color-gutter);
	margin-right: 0;
}

sk-grid-info {
	box-sizing: border-box;
	font: inherit;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
}

sk-grid-show {
	bottom: 0;
	position: fixed;
	right: 0;
}

sk-grid-max-width {
	bottom: 0;
	cursor: pointer;
	left: 0;
	pointer-events: all;
	position: absolute;
	right: 0;
}
